* {
    margin:0;
    padding:0;
}

body {
    background-color:#F5F5F5;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

header {
    width:100%;
    height:550px;
    margin:0 auto;
    text-align: center;    
}

header .banner {
    width:100%;
    height:500px;
    margin:0;
    background: url("../res/facetr2.jpg") no-repeat center top;
}

nav {
    width:100%;
    height:60px;
    margin:0px auto;    
    background-color:#575757;
    color:#fff;
    text-align: center;
    line-height: 60px;
}

nav ul {width: 80%; margin:auto;list-style: none;display: inline-block;}
nav ul li {float:left; height:60px;}
nav ul li:first-child{margin-left: 0;}

nav ul li a {
    display:block;
    font-size:18px;
    height:60px;
    line-height: 60px; 
    background-color: #575757;  
    padding:0 20px;
}

@media screen and (max-device-width: 768px) {
    nav ul {width: 100%; margin:0 auto;list-style: none;display: inline-block;}
    nav ul li a {
        padding:0 10px;
    }
}

@media screen and (max-width: 1463px) {
    nav ul {width: 100%; margin:0 auto;list-style: none;display: inline-block;}
    nav ul li a {
        padding:0 10px;
    }
}

nav ul li a:link {
    text-decoration: none;
    color:#fff;
}

nav ul li a:hover {
    background-color: #fff; 
    color:#575757;     
}

a:visited { color:#fff }
a:focus{outline: none}


section {
    width:80%;
    height:auto;
    padding:0;
    margin:10px auto;
    background-color: #fff;    
}

section .title {
    color: #555;
    border-left: 5px #00FFFF solid;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    margin-top: 40px;
    margin-bottom:10px;
    font-size: 24px;
    width:80%;
    margin:0 auto;
}

.container {
    width:80%;
    margin:0 auto;
}

.container p {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    margin: 10px auto;
    text-indent: 2em;
    font-size: 17.3px;
    line-height: 1.75em;
    color: #333;
}

.container p.thick {
    font-weight: bold;
}

.container p a {
    color: #0000ff;
}

.container p a:hover {
    color: #ff0000;
}

.container img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.container h1 {
    color: #555;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.container h3 {
    color: #444;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    margin-top:10px;
    margin-bottom:10px;
}

.contentA {
    width: 100%;
    background-color:#fff;   
    padding:0;
    margin:10px auto;
}

.contentB {
    width: 100%;
    background-color: #ddd;
    padding:0;
    margin:10px auto;
}

.contentA .title {
    color: #555;
    border-left: 5px #00FFFF solid;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    margin-top: 40px;
    margin-bottom:10px;
    font-size: 24px;
    margin:0 auto;
    text-align: center;
}

.contentB .title {
    color: #555;
    border-left: 5px #00FFFF solid;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    margin-top: 40px;
    margin-bottom:10px;
    font-size: 24px;
    margin:0 auto;
    text-align: center;
}


.container2 {
    width:1000px;
    margin:auto;
}

.container2 p {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    margin: 10px auto;
    text-indent: 2em;
    font-size: 17.3px;
    line-height: 1.75em;
    color: #333;
}

footer { 
    height: 160px; 
    width:100%; 
    padding: 0;
    background: #333;    
}

footer .foot_box{ width: 80%; margin: 0 auto; }
.foot_box .foot_title{ font-size: 16px; line-height: 1; margin-bottom: 26px; margin-top: 32px; color: #fff; }
.foot_box .foot_tip{ font-size: 14px; color: #ccc; line-height: 1; }

.left{
    float:left;
}

