* {
    margin:0;
    padding:0;
}

body {
    background-color:#fff;
    font-family: "宋体", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

header {
    width:100%;
    height:100px;
    margin:0 auto;
    text-align: center;
}

nav {
    width:100%;
    height:50px;
    margin:10px auto;    
    background-color:rgb(6, 182, 226);
    color:#fff;
    text-align: center;
    line-height: 50px;
}

nav ul {width: 80%; margin:auto;list-style: none;}
nav ul li {float:left; height:50px;}
nav ul li:first-child{margin-left: 0;}

nav ul li a {
    display:block;
    font-size:18px;
    height:50px;
    line-height: 50px; 
    background-color: rgb(6, 182, 226);  
    padding:0 32px;
}

nav ul li a:link {
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #fff; 
    color:rgb(6, 182, 226);     
}

a:visited { color:#fff }
a:focus{outline: none}

